# Files to ignore when publishing to npm
node_modules/
dist/
coverage/
*.log
*.tsbuildinfo
.DS_Store
tests/
jest.config.js
.eslintrc.js
tsconfig.json
README.md
package.json
!dist/
!package.json
!README.md